<!doctype html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="./about.css">
        <script defer src="./script.js"></script>
    
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <!-- font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/brands.min.css" integrity="sha512-L+sMmtHht2t5phORf0xXFdTC0rSlML1XcraLTrABli/0MMMylsJi3XA23ReVQkZ7jLkOEIMicWGItyK4CAt2Xw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Ai interf- about</title>
  </head>
  <body>
<!-- navbar -->
    <div class="navbar-container fixed-top w-100">
        <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link"  href="../index.html">Home</a>
                </li>
                <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="./components/about.html">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="./services.html" >Services</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="./team.html">Our team</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="./contact.html" >Contact US</a>
                </li>

            </ul>
            </div>
        </div>
        </nav>
    </div>
    <!-- home-about -->
    <div class="home-about">
        <div class="row w-100">
            <div class="col-sm-12 d-flex align-items-center justify-content-center  flex-column">
                <div class="home-bold text-white text-uppercase">About us</div>
                <div class=" web text-white text-uppercase"> all about Ai interf</div>
            </div>
        </div>
    </div>
    <!-- about-logo -->
    <div class="about-logo">
        <div class="row w-100">
            <div class="col-sm-6 mx-auto d-flex flex-columm align-items-center justify-content-center">
                <div class="about-logo-img">
                </div>
            </div>
        </div>
    </div>
    <!-- about-para -->
    <div class="about-para">
        <div class="row">
            <div class="col-sm-12 text-uppercase about-para-title">Introduction</div>
        </div>
        <div class="row">
            <div class="col-sm-12 about-para-p">Lex ventures has successfully established as a major Nepalese legal solution provider on a national and international scale, in a relatively short span of time. Over the years, with our balanced combination of the knowledge of law, communicating skills at the National as well as international level, and experience in diverse sectors we have enhanced our capabilities to effectively manage perception of key audience.</div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-uppercase about-para-title">Our values</div>
        </div>
        <div class="row">
                <div class="col-sm-12 about-para-p">“Serving the best interest of the client” is not a just a statement for us – it is a commitment to carry out your interests in the best manner possible and at the end of the day, satisfied client is our biggest strength. We solemnly believe in: Excellent Service = Satisfied client to providing value added solutions in addition to our Client’s essential legal needs. By providing distinctive client service and building an excellent Lawyer-Client relationship based on a combination of specialized expertise, a commitment to excellence and a good understanding of the clients business practices.
            </div>
        </div>
    </div>
     <!-- Expert -->
     <div class="expert">
        <div class="row w-100 ms-0">
        <div class="expert-bold text-white col-12 text-center exp-main-title">OUR AREA OF EXPERTISE
        </div>
        </div>
        <div class="row w-100">
          <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="home-quote exp-title">NON-CONTENTIOUS MATTERS
            </div>
            <div class="exp-list">
              <ul>
                <li>Bilateral & Development Agencies</li>
                <li>NGO’S/INGO’s Legal Compliance</li>
                <li>Project Finance: Public Private Partnership</li>
                <li>Hydro-Power Projects</li>
                <li>Transportation</li>
                <li>Infrastructure</li>
                <li>Joint Ventures/Venture Capital</li>
                <li>Banking/Insurance</li>
                <li>Corporate Compliances/Tax</li>
                <li>Intellectual Prop </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="home-quote exp-title">CONTENTIOUS MATTERS
            </div>
            <div class="exp-list">
              <ul>
                <li>Administrative Office</li>
                <li>Concerned Departments and Authorities</li>
                <li>Judicial Tribunals:</li>
                <li>District Court</li>
                <li>High Court</li>
                <li>Supreme Court</li>
                <li>Special Tribunal</li>
                <li>Commission/Department</li>
                <li>Arbitration Tribunal National and International </li>
                <li>Cyber Issues</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- Copyright -->
    <div class="copyright">
        <div class="row ">
          <div class="col-sm-12 text-center text-dark">
            &copy copyright Reserved Act 2023
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>